<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Agency Website</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'destinations' %}">Destinations</a></li>
                <li><a href="{% url 'our_process' %}">Our Process</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}


    <footer>
        <p>&copy; 2026 Travel Agency. All rights reserved.</p>
    </footer>

</body>
</html>