<!-- {% load static %} -->
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="caramellatte">

<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=3">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">
    <title>Travel Agency Website</title>
</head>

<body>
    <div class="site-header max-lg:collapse bg-base-200 shadow-sm w-full rounded-md">
        <input id="navbar-1-toggle" class="peer hidden mobile-nav-toggle" type="checkbox" />
        <label for="navbar-1-toggle" class="fixed inset-0 hidden max-lg:peer-checked:block mobile-nav-overlay"></label>
        <div class="collapse-title navbar site-navbar">
            <div class="navbar-start">
                <label for="navbar-1-toggle" class="btn btn-ghost lg:hidden mobile-menu-button">
                    <svg aria-label="Menu" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </label>
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="mr-2" width="50" height="50">

                </a>
            </div>
            <div class="navbar-center hidden lg:flex site-navbar-links">
                <ul class="menu flex justify-between gap-4 menu-horizontal px-1 primary-menu">
                    <li><a href="{% url 'services' %}" class="{% if request.path == '/services/' %}active-page{% endif %}">Services</a></li>
                    <li>
                        <a href="{% url 'destinations' %}" class="{% if request.path == '/destinations/' %}active-page{% endif %}">Destinations</a>
                    </li>
                    <li><a href="{% url 'contact' %}" class="{% if request.path == '/contact/' %}active-page{% endif %}">Contact</a></li>
                    <li><a href="{% url 'our_process' %}" class="{% if request.path == '/our-process/' %}active-page{% endif %}">Our process</a></li>
                </ul>
            </div>
            <div class="navbar-end">
                <input type="text" placeholder="Search" class="input w-64 lg:w-auto" />
            </div>
        </div>

        <div class="collapse-content lg:hidden z-1 mobile-menu">
            <ul class="menu mobile-menu-links">
                <li><a href="{% url 'services' %}" class="{% if request.path == '/services/' %}active-page{% endif %}">Services</a></li>
                <li>
                    <a href="{% url 'destinations' %}" class="{% if request.path == '/destinations/' %}active-page{% endif %}">Destinations</a>
                </li>
                <li><a href="{% url 'contact' %}" class="{% if request.path == '/contact/' %}active-page{% endif %}">Contact</a></li>
                <li><a href="{% url 'our_process' %}" class="{% if request.path == '/our-process/' %}active-page{% endif %}">Our process</a></li>
            </ul>
        </div>
    </div>


    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/main.js' %}"></script>
    <footer>
        <p>&copy; 2026 Travel Agency. All rights reserved.</p>
    </footer>

</body>

</html>